@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}
