h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400; }

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Poppins Light";
  src: url("../fonts/Poppins-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200; }

.main-content {
  background: url(../images/main-content-bg.png) no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 325px; }
  .main-content__cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main-content__cart a {
    text-decoration: none;
    position: relative; }
  .main-content__cart--item {
    background: #000;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: -1px;
    left: 8px; }
  .main-content__cart--item span {
    font-family: Poppins, sans-serif;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #fff; }
  .main-content__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-content__header {
    font-family: Poppins Light, sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 140%;
    text-align: center;
    margin-top: 180px; }
  .main-content__desc {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000;
    margin-top: 13px; }
  .main-content__button {
    background: #000;
    padding: 23px 118px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin-top: 35px; }
  @media screen and (max-width: 375px) {
    .main-content__nav-col {
      display: none; } }

.nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .nav__item {
    margin-left: 73px; }
  .nav__link {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .nav__link:hover {
    color: #8a5137; }

.description {
  background: #000;
  padding-top: 140px;
  height: 435px; }
  .description__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .description__text {
    font-family: Poppins Light, sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 170%;
    text-align: center;
    color: #fff;
    margin-top: 25px; }
  .description__img {
    position: relative;
    top: -245px;
    left: 45px; }

.product {
  background: #fff; }
  .product__img {
    background: url(../images/vector.png) no-repeat;
    background-position: 20% -30%; }
  .product__img img {
    position: relative;
    left: -45px;
    top: 40px; }
  .product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .product__header {
    font-family: Poppins Light, sans-serif;
    font-weight: 200;
    font-size: 40px;
    line-height: 130%;
    text-align: center;
    color: #000;
    margin-top: 206px; }
  .product__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px; }
  .product__review--text {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 125.5%;
    color: #000;
    margin-right: 10px; }
  .product__review--star {
    margin-right: 4px; }
  .product__text {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: #000;
    margin-top: 27px; }
  .product__price {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-top: 20px; }
  .product__old-price {
    font-size: 20px;
    opacity: 0.5;
    margin-right: 20px;
    text-decoration: line-through; }
  .product__button {
    background: #000;
    padding: 23px 118px;
    border: none;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff; }

.promo {
  background: url(../images/promo-img.png) no-repeat;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 250px;
  margin-top: 130px; }
  .promo__text {
    font-family: Poppins Light, sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    color: #fff; }

.how-to-use {
  background: #fef6f3; }
  .how-to-use__header {
    font-family: Poppins Light, sans-serif;
    font-weight: 200;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    color: #000;
    background: url(../images/how-to-use.png) no-repeat;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 45px; }
  .how-to-use__step {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 128px; }
  .how-to-use__icons {
    background: url(../images/ellipse.png) no-repeat;
    width: 124px;
    height: 124px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .how-to-use__desc {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000;
    margin-top: 17px; }

.testimonials {
  background: #fff; }

body {
  padding: 0;
  margin: 0; }

.header {
  background: #000;
  padding: 10px; }

.header p {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  margin: 0; }

/*# sourceMappingURL=main.css.map */
